@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "Victor Mono", monospace;
}

.sha-xl{
  @apply shadow-[0_8px_0_rgba(0,0,0,1)] border-2;
}
.sha-lg{
  @apply shadow-[0_5px_0_rgba(0,0,0,1)] border-2;
}
.sha-md{
  @apply shadow-[0_3px_0_rgba(0,0,0,1)] border-2;
}

.nav-link{
  @apply border-2 border-black rounded-xl py-1.5 text-center cursor-pointer duration-100 bg-white px-3 sm:px-4 tracking-wider;
}
.m-nav-link{
  @apply border-2 border-black rounded-xl py-2 text-center cursor-pointer duration-100 bg-white px-8 font-semibold tracking-wider;
}
.m-nav-button{
  @apply border-2 border-black rounded-xl cursor-pointer duration-100 bg-white;
}
.nav-link:hover, .m-nav-link:hover, .m-nav-button:hover{
  @apply bg-orange-200;
}
.nav-link:active, .m-nav-link:active, .m-nav-button:active{
  @apply shadow-[0_1px_0_rgba(0,0,0,1)] translate-y-[3px];
}

.main-card{
  @apply sm:h-screen w-screen px-5 sm:px-12 sm:pt-[17vh];
}

#home-container-right{
  background-image: url(./assets/images/img1.webp);
  background-position: top;
  background-size: cover;
}

@keyframes bouncer {
  0% {
    transform: translateY(6px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
  }
  8% {
    transform: translateY(-4px);
    box-shadow: 0 12px 0 rgba(0, 0, 0, 1);
  }
  20% {
    transform: translateY(0px);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 1);
  }
  50% {
    transform: translateY(0px);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 1);
  }
  100% {
    transform: translateY(6px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
  }
}

#about-container-left-img{
  animation: bouncer 4s infinite;
}

.gradient-background {
  background: linear-gradient(140deg,#ffd78e,#ffffff,#91ffe7);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#copywriting-quote:active, #landingpage-quote:active, #home-cta:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
  transform: translateY(3px);
}

#about-container-left-img{
  background-image: url(./assets/images/Rnf_logo.png);
  background-position: center;
  background-size: cover;
}

.contact-link:hover {
  @apply text-orange-500 tracking-wide;
}

.form-label{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#varun-img {
  background-image: url(./assets/images/varun-photo.jpg);
  background-position: center;
  background-size: cover;
}
#ishan-img {
  background-image: url(./assets/images/ishan-photo.jpg);
  background-position: center;
  background-size: cover;
}

#mobile-nav-sidebar{
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms;
}
#sidebar-main {
  transform: translateX(-100%);
  transition: transform 200ms;
}
#mobile-nav-sidebar.mnav-open{
  background-color: rgba(0, 0, 0, 0.2);
}
#mobile-nav-sidebar.mnav-open > #sidebar-main {
  transform: translateX(0);
}